@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Work+Sans&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #eafbf0;
}

.cabecalho {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #95eae0;
  background-color: #eafbf0;
  color: #020904;
  font-family: "Oswald", sans-serif;
}
#cabecalho-texto {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 20px;
}
#header-imagem {
  height: 70px;
  width: 100px;
  padding-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
